$theme-colors: (
  "primary": #0c49cd,
);
@import "~bootstrap/scss/bootstrap";


h2 {
    margin: 32px 0px;
    font-size: 32px;
    font-weight: 300;
}

  path {
    fill: #f4f7fb;
    stroke: #97a4b1;
    transition: 0.3s;
    &:hover {
      fill: #fff;
      cursor: pointer;
    }
  }
  
  .description {
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    line-height: 30px;
    color: black;
    border-radius: 5px;
    display: none;
  
    // показать описание при активном статусе
    &.active {
      display: block;
    }
  
    //треугольник от крусора к описанию
    &:after {
      content: "";
      position: absolute;
      top: 49px;
      left: 45%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $white;
    }
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: #3b4256;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
    height: 48px;
  }

  /* Dropdown button on hover */
.dropbtn:hover {
    background-color: #f4f7fb;
    span {
      background-color: #f4f7fb;
    }
  }
  
  :focus {
    outline: none !important;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin-bottom: 61px;
    position: relative;
    display: inline-block;
    width: 100%;
    .arrow {
      width: 24px;
      height: 24px;
      background-image: url(../../img/hamburger.svg);
    }
  
    button {
      width: 100%;
    }
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    height: 250px;
    margin-bottom: 61px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    font-size: 14px;
    color: #3b4256;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
    z-index: 1;
  }
  
  /* Styling links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 0px;
    margin: 0px 12px;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #dde1e6;
  }
  
  /* Change color and remove border of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f4f7fb;
    border-bottom: 0px solid #dde1e6;
    padding: 10px 12px;
    margin: 0px;
  }

  // styling scrollbar
  #myDropdown::-webkit-scrollbar-track
{
	border-radius: 10px;
}

#myDropdown::-webkit-scrollbar
{
	width: 5px;
}

#myDropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-color: #c7ccd1;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }